.post-date {
	font-style: italic;
	margin-top: 5px;
	margin-bottom: 10px;
}

.highlight {
	padding-bottom: 20px;
	max-width: 62.5em;
}

.highlight pre {
	overflow-x: auto;
	overflow-y: hidden;
}

.main-content{
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 10px;

	/* Background Gradient */
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top left, #FBFCF2 0%, #FEFFD9 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #FBFCF2 0%, #FEFFD9 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top left, #FBFCF2 0%, #FEFFD9 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FBFCF2), color-stop(1, #FEFFD9));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #FBFCF2 0%, #FEFFD9 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom right, #FBFCF2 0%, #FEFFD9 100%);
}

body {
	background-color: #221e1d;
}

hr {
	border-color: rgba(0,0,0,.05);
}

.navbar {
	border-bottom: 2px solid #e9643d;
}