.post-date {
	font-style: italic;
	margin-top: 5px;
}

.highlight {
	padding-bottom: 20px;
	max-width: 62.5em;
}

.highlight pre {
	overflow-x: auto;
	overflow-y: hidden;
}

.main-content .row {
	background-color: #eceae0;
}

body {
	background-color: #221e1d;
}

.navbar .row {
	background-color: #DBD9D0;
}